{% extends 'base.html' %}

{% block title %}About — Catchment Simulation{% endblock %}

{% block content %}
    <h2 style="text-align: center;">About</h2>
    <p>The catchment_simulation package is a Python library for simulating subcatchments with different feature values using the Storm Water Management Model. The package was developed with the aim of providing a simple and user-friendly interface for simulating subcatchments with different feature values. The library offers various methods for simulating the subcatchment features, such as percent impervious, percent slope, width, and area. The package also provides methods for simulating the Manning's n value and the depth of depression storage on area for both impervious and pervious areas. </p>
    <p>The package is useful for urban and environmental planners, hydrologists, and civil engineers who are involved in stormwater management. It allows them to simulate and analyze different scenarios of subcatchment features, which can help them make informed decisions regarding the design and operation of stormwater management systems. The package is open-source and can be used freely by anyone who needs it. </p>
    <p>If you have any questions or suggestions regarding the package, please feel free to contact us.</p>
{% endblock %}