{% extends 'base.html' %}

{% block title %}Catchment Calculations{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- Left column -->
            <div class="bg-light p-3" style="min-height: 100%;">
                {% load static %}
                <h3 style="text-align: center;">Catchment Area Neural Network Model</h3>
                <p  style="text-align: justify;">The Catchment Area Neural Network Model is a machine learning model designed to analyze and predict the behavior of water flow in catchment areas. The model takes into account various features of the catchment area, such as the land surface, slope, imperviousness, and infiltration properties. By understanding the relationships between these features, the model can provide valuable insights for water resource management, flood control, and environmental conservation efforts.</p>
                <p>
                    <h4 style="text-align: center;">Features</h4><br>
                    <p>The model utilizes the following features as inputs:</p>
                    <ul style="list-style-type: disc;">
                        <li>Area (ha): The actual area of the catchment</li>
                        <li>Width (m): The characteristic width of the overland flow path for surface runoff</li>
                        <li>Slope (%): The average percentage slope of the catchment</li>
                        <li>Imperv (%): The percentage of land surface (excluding any LID) that is impervious</li>
                        <li>N-Imperv (-): Manning's n coefficient for overland flow through the impervious portion of the partial catchment</li>
                        <li>N-Perv (-): Manning's n coefficient for overland flow through the pervious portion of the partial catchment</li>
                        <li>Dstore-Imperv (m): Depth of depression storage on the impervious portion of the partial catchment (inches or millimeters)</li>
                        <li>Dstore-Perv (m): Depth of depression storage on the pervious portion of the partial catchment (inches or millimeters)</li>
                        <li>Zero-Imperv (%): Percentage of impervious area without depression storage</li>
                        <li>Infiltration Data (-): Infiltration model (Horton, Modified Horton, Green-Ampt, Modified Green-Ampt, Curve Number (SCS))</li>
                    </ul>
                    <br>
                    <h4 style="text-align: center;">Model Architecture:</h4>
                    The model is a fully connected neural network with the following architecture:<br>
                    <br>
                    <img src="{% static 'main/img/nn.png' %}" alt="Opis obrazu" class="img-fluid" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">

                    <ul>
                        <li>Input layer with 16 neurons and ReLU activation function<br></li>
                        <li>Hidden layer with 8 neurons and ReLU activation function<br></li>
                        <li>Output layer with 1 neuron and ReLU activation function<br></li>
                        <li>The model is compiled using the Adam optimizer and Mean Squared Error (MSE) as the loss function. Additional metrics used for evaluation are Mean Absolute Error (MAE) and Mean Squared Error (MSE).<br></li>
                    </ul>
                    <br>
                    <h4  style="text-align: center;">Applications</h4>
                    This model can be used for various applications, including:<br>
                    <br>
                    <ul>
                    <li>Water resource management: By predicting the behavior of water flow in catchment areas, the model can help inform decision-making for water allocation and conservation efforts.<br></li>
                    <li>Flood control: Understanding the factors that contribute to flooding can help identify areas at risk and inform the design of effective flood mitigation measures.<br></li>
                    <li>Environmental conservation: Predicting the impact of changes in land use, climate, or other factors on catchment areas can help inform conservation strategies and preserve valuable ecosystems.</li>
                    </ul>
                </p>

            </div>
        </div>
        <div class="col-md-6">
            <!-- Roght column -->
            <div class="bg-light p-3" style="min-height: 100%;">
           
                <h3 style="text-align: center;">Comparison of SWMM and ANN in runoff calculation.</h3>

                <!-- Drop file -->
                <div class="d-flex justify-content-center">
                    <form action="/upload/" method="post" enctype="multipart/form-data" class="dropzone" id="my-dropzone">
                        {% csrf_token %}
                        <div class="fallback">
                            <input name="file" type="file" multiple class="custom-file-input" />
                            <input type="submit" value="Upload" class="btn btn-primary mt-3" />
                        </div>
                    </form>
                </div>
                <!-- Run calculations button -->
                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" id="run-calculations-button" data-authenticated="{{ request.user.is_authenticated }}">Run Calculations</button>
                        </div>
                    </div>
                </form>
                
                
                <br>
                <h6>Warning!</h6>
                <p>Sensitivity analysis indicates that the model works correctly only within a certain range of precipitation. This is due to the small training set. 
                </p>
                <h4 style="text-align: center;">Results Comparison</h4>

                

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">SWMM Runoff [m3]</th>
                            <th class="text-center">ANN Runoff [m3]</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not df_is_empty %}
                            {% for index, row in df.iterrows %}
                                <tr>
                                    <td class="text-center">{{ row.Name }}</td>
                                    <td class="text-center">{{ row.SWMM_Runoff_m3|floatformat:2 }}</td>
                                    <td class="text-center">{{ row.ANN_Runoff_m3|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                            </tr>
                        {% endif %}
                    </tbody>                    
                </table>


            </div>
        </div>
        
    </div>
</div>

{% endblock %}
