{% extends 'base.html' %}

{% block title %}Catchment Simulations{% endblock %}

{% block content %}


<div class="d-flex justify-content-center">
    <form action="/upload/" method="post" enctype="multipart/form-data" class="dropzone" id="my-dropzone">
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple class="custom-file-input" />
            <input type="submit" value="Upload" class="btn btn-primary mt-3" />
        </div>
    </form>
</div>

{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-2">
                    {{ form.option|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.start|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.stop|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.step|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.catchment_name|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="run-simulation-button" data-authenticated="{{ request.user.is_authenticated }}">Run Simulation</button>
            </div>
        </div>


        {% if show_download_button %}
        <!-- User plot-->
        {{ user_plot|safe }}
    
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{{ output_file_url }}" download="{{ output_file_name }}" class="btn btn-success">Download Results</a>
            </div>
        </div>
    
        <!-- Tabela z wynikami -->
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Index</th>
                            {% for col in results_columns %}
                            <th class="text-center">{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results_data %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                {% for val in row %}
                                <td class="text-center">{{ val|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    </div>
</form>

{% endblock %}
