{% extends 'base.html' %}
{% load static %}

{% block title %}Catchment Simulations{% endblock %}

{% block head_scripts %}
<script src="https://cdn.plot.ly/plotly-2.35.2.min.js"
        integrity="sha384-cCVCZkAjYNxaYKbM8lsArLznDF/SvMFr1jcZrvOpSTCa0W40ZAdLzHCEulnUa5i7"
        crossorigin="anonymous"></script>
<script src="{% static 'main/js/charts.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/upload_zone.css' %}">
{% endblock %}

{% block content %}

{% include 'main/_upload_zone.html' %}

{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-2">
                    {{ form.option|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.start|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.stop|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.step|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.catchment_name|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="run-simulation-button" data-authenticated="{{ request.user.is_authenticated }}">Run Simulation</button>
            </div>
        </div>
        <div id="simulation-loading-state" class="row mt-2 d-none" aria-live="polite">
            <div class="col-md-12 d-flex justify-content-center align-items-center gap-2 text-muted">
                <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                <span>Analyzing catchment with neural network...</span>
            </div>
        </div>


        {% if show_download_button %}
        <div id="simulation-chart"><p class="text-muted text-center">Loading chart...</p></div>
        {{ chart_config|json_script:"chart-config" }}

        {% if output_file_name %}
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                <input type="hidden" name="token" value="{{ download_token }}">
                <button
                    type="submit"
                    class="btn btn-success"
                    formaction="{% url 'main:download_simulation_results' %}"
                    formmethod="post"
                    formnovalidate
                >
                    Download Results
                </button>
            </div>
        </div>
        {% endif %}

        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Index</th>
                            {% for col in results_columns %}
                            <th class="text-center">{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results_data %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                {% for val in row %}
                                <td class="text-center">{{ val|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</form>

{% endblock %}

{% block additional_scripts %}
<script src="{% static 'main/js/pages/simulation.js' %}"></script>
{% endblock %}
